In [1]:
import pandas as pd
from scipy import  stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Database_practice\Credit_Scoring.csv')
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

# Bạn hãy thực hiện những kiểm định sau để phân tích đặc điểm của khách hàng tiềm năng

# 1.Có phải những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) nhỏ hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)

In [ ]:
# Sử dụng kiểm định Independent T test với hàm ttest_ind với kiểm định cho kiểm định 1 phía (trái hay phải tùy theo cách bạn viết giả thuyết)

In [3]:
df['NumberOfDependents'].unique()

array([nan,  2.,  0.,  1.,  3.,  4.,  5.,  6.,  8.,  7., 20., 10.,  9.,
       13.])

In [11]:
df.fillna({'MonthlyIncome':0}, inplace = True)
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,0.0,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [12]:
df_coNPT = df[df['NumberOfDependents'] > 0]
df_coNPT.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0
7,16,0,0.548458,64,0,0.209892,11362.0,7,0,1,0,2.0

In [13]:
df_koNPT = df[df['NumberOfDependents'] == 0]
df_koNPT.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
6,15,0,0.019657,76,0,477.000000,0.0,6,0,1,0,0.0
8,17,0,0.061086,78,0,2058.000000,0.0,10,0,2,0,0.0
9,18,0,0.166284,53,0,0.188274,8800.0,7,0,0,0,0.0
11,20,0,0.602794,25,0,0.065868,333.0,2,0,0,0,0.0

In [14]:
print(stats.ttest_ind(df_coNPT['MonthlyIncome'], df_koNPT['MonthlyIncome'], equal_var=False))

Ttest_indResult(statistic=33.74110027885244, pvalue=6.8070257779524515e-248)

Đọc kết quả:

- Chúng ta có thể thấy Pvalue = 6.8070257779524515e-248 << 10%, bác bỏ giả thuyết không, chấp nhận giả thuyết đối
- Kết luận: những khách hàng không có người phụ thuộc sẽ có thu nhập trung bình theo tháng (MonthlyIncome) lớn hơn những khách hàng có người phụ thuộc không (với mức ý nghĩa 10%)

# 2.Có phải trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ cao hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%

In [ ]:
# Sử dụng kiểm định Independent T test với hàm ttest_ind với kiểm định cho kiểm định 1 phía (trái hay phải tùy theo cách bạn viết giả thuyết)

In [15]:
df['NumberOfOpenCreditLinesAndLoans'].unique()

array([ 2,  9,  5,  7, 13,  6, 10,  4, 14, 22, 17,  1, 15,  8, 31, 12, 21,
        3, 11, 19, 18, 26, 20, 23,  0, 16, 27, 29, 28, 24, 25, 32, 46, 33,
       30, 34, 37, 38, 36, 35, 54, 43, 45, 49, 57, 48, 40, 58, 51, 52, 39,
       41, 56, 42, 47, 50, 44, 53], dtype=int64)

In [16]:
df['SeriousDlqin2yrs'].unique()

array([0, 1], dtype=int64)

In [18]:
df_gapkhokhan = df[df['SeriousDlqin2yrs'] == 1]
df_gapkhokhan.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
5,14,1,0.964673,40,3,0.382965,13700.0,9,3,1,1,2.0
13,22,1,0.025656,38,0,0.475841,3000.0,7,0,1,0,2.0
17,26,1,0.392248,50,0,1.595253,4676.0,14,0,3,0,1.0
43,52,1,0.728150,31,0,0.824725,3000.0,10,0,2,0,1.0
66,75,1,0.133063,49,1,0.182882,10257.0,9,0,2,0,3.0

In [19]:
df_kogapkhokhan = df[df['SeriousDlqin2yrs'] == 0]
df_kogapkhokhan.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,9,0,0.116951,27,0,46.000000,0.0,2,0,0,0,NaN
1,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0
2,11,0,0.644226,30,0,0.309476,2500.0,5,0,0,0,0.0
3,12,0,0.018798,51,0,0.531529,6501.0,7,0,2,0,2.0
4,13,0,0.010352,46,0,0.298354,12454.0,13,0,2,0,2.0

In [20]:
print(stats.ttest_ind(df_gapkhokhan['NumberOfOpenCreditLinesAndLoans'], df_kogapkhokhan['NumberOfOpenCreditLinesAndLoans'], equal_var=False))

Ttest_indResult(statistic=-10.53484996850356, pvalue=7.875696017574721e-26)

Đọc kết quả:

- Chúng ta có thể thấy Pvalue = 7.875696017574721e-26 << 10%, bác bỏ giả thuyết không, chấp nhận giả thuyết đối
- Kết luận:  trung bình số lượng khoản vay (NumberOfOpenCreditLinesAndLoans) những khách hàng gặp khó khăn trong vòng 2 năm trở lại đây (SeriousDlqin2yrs =1) thì sẽ thấp hơn những khách hàng không gặp khó khăn không với mức ý nghĩa 10%