In [14]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
df = pd.read_csv('Database_practice\GDPlist.csv', encoding = 'ISO-8859-1')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

# THỰC HIỆN CÁC KIỂM ĐỊNH SAU:

# 1.Trung bình GDP của các quốc gia trên thế giới là 500 tỉ usd/năm

In [7]:
df ['GDP (billions of US$)'] = df ['GDP (millions of US$)'] / 1000
df.head()

        Country      Continent  GDP (millions of US$)  GDP (billions of US$)
0   Afghanistan           Asia                  18181                 18.181
1       Albania         Europe                  12847                 12.847
2       Algeria         Africa                 190709                190.709
3        Angola         Africa                 100948                100.948
4     Argentina  South America                 447644                447.644

In [8]:
# Sử dụng kiểm định One sample T test với hàm ttest_1samp với kiểm định hai phía (khác 500 tỉ là được)
t_statistic, p_value = stats.ttest_1samp(a=df ['GDP (billions of US$)'],popmean=500)
print('t_statistic =', t_statistic)
print('p_value',p_value)

t_statistic = 0.37574386695183365
p_value 0.7077493494055246

Đọc kết quả

- H0 - Trung bình GDP của các quốc gia trên thế giới = 500 tỉ usd/năm
- HA - Trung bình GDP của các quốc gia trên thế giới != 500 tỉ usd/năm, Giả sử alpha = 0.05, ta thấy pvalue = 0.707 > alpha. Vì vậy với độ sai lệch là 5% thì H0 được chấp nhận, HA sai

# 2.GDP trung bình ở các quốc gia ở châu Âu cao hơn châu Á không

In [ ]:
# Sử dụng kiểm định Independent T test với hàm ttest_ind với kiểm định phải

In [9]:
# Lấy thông tin GDP các quốc gia châu âu
df_Europe = df.loc[(df.Continent == 'Europe')]
df_Europe.head()

        Country Continent  GDP (millions of US$)  GDP (billions of US$)
1       Albania    Europe                  12847                 12.847
6       Austria    Europe                 419243                419.243
7    Azerbaijan    Europe                  62321                 62.321
10      Belarus    Europe                  55483                 55.483
11      Belgium    Europe                 513396                513.396

In [10]:
# Lấy thông tin GDP các quốc gia châu á
df_Asia = df.loc[(df.Continent == 'Asia')]
df_Asia.head()

         Country Continent  GDP (millions of US$)  GDP (billions of US$)
0    Afghanistan      Asia                  18181                 18.181
8        Bahrain      Asia                  26108                 26.108
9     Bangladesh      Asia                 113032                113.032
16        Brunei      Asia                  15533                 15.533
18         Burma      Asia                  51925                 51.925

In [15]:
# Kiểm tra phương sai
var_gp1 = np.var (df_Europe['GDP (millions of US$)'])
var_gp2 = np.var (df_Asia['GDP (millions of US$)'])
print(f'Phương sai của df_Europe: ',var_gp1)
print(f'Phương sai của df_Asia: ',var_gp2)

Phương sai của df_Europe:  713338138094.1942
Phương sai của df_Asia:  2263369364802.748

In [16]:
# tỷ lệ
ratio = f'{round(var_gp1/var_gp2,2)}:1' if var_gp1>var_gp2 else\
        f'{round(var_gp2/var_gp1,2)}:1'
ratio
# Tỷ lệ 3.17/1 thỏa mãn điều kiện nhỏ hơn tỷ lệ 4/1
# Phương sai 2 tập dữ liệu như nhau
# Two sample t-test hoạt động tốt nên sử dụng nó
# Nếu nó ko đủ điều kiện thì dùng welch's t-test

'3.17:1'

In [12]:
# Two-sample t-test
stats.ttest_ind(a = df_Europe['GDP (millions of US$)'], b=df_Asia['GDP (millions of US$)'],equal_var=True)

Ttest_indResult(statistic=-0.5586877419842816, pvalue=0.5781326801926456)

Đọc kết quả:
- H0: GDP trung bình ở các quốc gia ở châu Âu cao hơn châu Á
- HA: GDP trung bình ở các quốc gia ở châu Âu bé hơn châu Á, với mức ý nghĩa alpha = 5%, ta thấy pvalue(0.57) >  alpha (0.05), Vì vậy với độ sai lệch 5% thì ta ko đủ cơ sở phủ nhận H0, nghĩa là H0 đúng (GDP trung bình ở các quốc gia ở châu Âu cao hơn châu Á)

# 3.GDP trung bình của các quốc gia ở châu Âu và châu Mỹ là bằng nhau

In [ ]:
# Sử dụng kiểm định Independent T test với hàm ttest_ind với kiểm định hai phía

In [18]:
df['Continent'].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [17]:
# GDP các quốc gia châu Âu
df_Europe.head()

        Country Continent  GDP (millions of US$)  GDP (billions of US$)
1       Albania    Europe                  12847                 12.847
6       Austria    Europe                 419243                419.243
7    Azerbaijan    Europe                  62321                 62.321
10      Belarus    Europe                  55483                 55.483
11      Belgium    Europe                 513396                513.396

In [31]:
df_Europe['GDP (millions of US$)'].mean()

517280.54054054053

In [32]:
df_NSAmerica['GDP (millions of US$)'].mean()

1118983.2

In [25]:
# GDP các quốc gia Châu Mỹ
df_NSAmerica = df.loc[(df.Continent == 'South America') | (df.Continent == 'North America') ]
df_NSAmerica.head()

       Country      Continent  GDP (millions of US$)  GDP (billions of US$)
4    Argentina  South America                 447644                447.644
15      Brazil  South America                2492908               2492.908
21      Canada  North America                1736869               1736.869
22       Chile  South America                 248411                248.411
24    Colombia  South America                 328422                328.422

In [28]:
# Kiểm tra phương sai
var_gp3 = np.var (df_Europe['GDP (millions of US$)'])
var_gp4 = np.var (df_NSAmerica['GDP (millions of US$)'])
print(f'Phương sai của df_Europe: ',var_gp3)
print(f'Phương sai của df_NSAmerica: ',var_gp4)

Phương sai của df_Europe:  713338138094.1942
Phương sai của df_NSAmerica:  10693420019104.361

In [29]:
# tỷ lệ
ratio = f'{round(var_gp3/var_gp4,2)}:1' if var_gp3>var_gp4 else\
        f'{round(var_gp4/var_gp3,2)}:1'
ratio
# Tỷ lệ 14.99/1 không thỏa mãn điều kiện nhỏ hơn tỷ lệ 4/1
# Phương sai 2 tập dữ liệu khác nhau
# Two sample t-test hoạt động không tốt nên không sử dụng nó
# Ta dùng welch's t-test

'14.99:1'

In [35]:
# Conduct Welch's t-Test and print the result
print(stats.ttest_ind(df_Europe['GDP (millions of US$)'], df_NSAmerica['GDP (millions of US$)'], equal_var = False))

Ttest_indResult(statistic=-0.7882914270473153, pvalue=0.4396139393183093)

Đọc kết quả:

- H0: GDP trung bình của các quốc gia ở châu Âu và châu Mỹ là bằng nhau
- HA: GDP trung bình của các quốc gia ở châu Âu và châu Mỹ là khác nhau, với mức ý nghĩa alpha = 5%, ta thấy pvalue(0.439) > alpha (0.05), Vì vậy với độ sai lệch 5% thì ta ko đủ cơ sở phủ nhận H0, nghĩa là H0 đúng (GDP trung bình của các quốc gia ở châu Âu và châu Mỹ là bằng nhau)